[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.27"
evm_version = "istanbul"
optimizer = true
optimizer_runs = 200
via_ir = true

[rpc_endpoints]
bite_v2 = "https://base-sepolia-testnet.skalenodes.com/v1/bite-v2-sandbox-2"
